@model PlusCP.Models.Home
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<style>
    .form-gap {
        padding-top: 70px;
    }

    .btn-hover-save {
        background-color: #003B59; /* Default background color */
        border-color: #003B59; /* Default border color */
        color: #fff; /* Default text color */
        height: 30px;
        width: 80px;
    }

        .btn-hover-save:hover {
            background-color: transparent; /* Make background transparent on hover */
            border-color: #003B59; /* Dark border color on hover */
            color: #003B59; /* Dark font color on hover */
        }

    body {
        /*margin-top: 20px;*/
        background: linear-gradient(to top, white, #D6EFE8);
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/message.css" rel="stylesheet" />
<div style="padding-top: 1px; background-color: #D6EFE8">

    <a href="https://collablly.com/" target="_blank">
        <img src="/Content/Images/Collablly.gif" style="margin-left: 25px; margin-top: 10px; width: 15%;  margin-bottom: 3px;" />
    </a>
    <hr style="background-color: #D6EFE8; border: 0px; min-height: 4px; margin-top: 4px;" />
</div>
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">
                            <div id="register-div" role="form" autocomplete="off" class="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="email" name="email" placeholder="email address" class="form-control" type="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="btnReset" name="recover-submit" class="btn-hover-save" value="Reset Password" type="button" style="width:120px; height:30px">
                                </div>
                                <label class="text-success" id="lblMsg"></label>
                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wait" style="width:100%;height:100%;left:0px;top:0px; text-align:center; vertical-align:middle" class="modal">
    <img src='~/Content/images/Loading.gif' width="100" height="100" style="text-align:center; vertical-align:middle; margin-top:400px;" />
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Message.js"></script>

<script>
    var email = '@Request.QueryString["Email"]';
    $('#email').val(email);

    $(document).ajaxStart(function () {
        $('#wait').show();
    }).ajaxStop(function () {
        $('#wait').hide();
    });


    $('#btnReset').click(function () {

        $('#lblMsg').empty();
        var email = $('#email').val();
        var emailRegex = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;


        if (!emailRegex.test(email)) {
            $('#lblMsg').append('Enter a valid email address.');
            return;
        }

        $.ajax({

            cache: false,
            type: 'GET',
            url: '/Home/SendMail',
            data: {
                email: email
            },
            datatype: JSON,
            success: function (data) {
                $('#lblMsg').empty();
                if (data.EmailMessage == "sent") {
                    $('#lblMsg').append('Please check your inbox, including junk and spam, for a password reset email. This email will only be sent if the provided email is linked to your Collablly account.');

                    return;
                }
                else {
                    $('#lblMsg').append('Please check your inbox, including junk and spam, for a password reset email. This email will only be sent if the provided email is linked to your Collablly account.');
                    return;
                }

            },
            onerror: function (r) { r },
            failure: function (r) { r }
        });

    });
    function MsgToast(msg, title, type) {
        toastr.options = {
            closeButton: true,
            debug: false,
            newestOnTop: false,
            progressBar: true,
            positionClass: 'toast-top-right',
            preventDuplicates: true,
            onclick: null
        };

        var $toast = toastr[type](title, msg);

        if (typeof $toast === 'undefined') {
            return;
        }

    }


</script>
